@font-face {
    font-family: "geral";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "secundaria";
    src: url(../fonts/Lobster-Regular.ttf);
}

$fonte-geral: "geral";
$fonte-secundaria: "secundaria";