doctype html

html
    head
        link(rel="stylesheet", href="styles/estilos.css")

        title loja 2.0
    body
        #banner
            h1 loja 2.0
            p A sua loja definitiva!

        #centro
            #menu
                span Menu
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/clientes') Clientes

            #conteudo
                block conteudo


        #rodape 
            h4 &copy;tsi ifms campos aquidauana