<div id="rodape">
    <div class="copyright">
        &copy;Loja. Todos os direitos reservados.
    </div>
    <div class="contato">
        <h3>Contato</h3>
        <div>
            <img src="img/fone.png" alt="Fone">
            <span>
                <a href="tel:+5576999999999">(67) 99999-9999</a>
            </span>
        </div>

        <div>
            <img src="img/email.png" alt="E-mail">
            <span>
                <a href="mailto:loja@email.com">loja@email.com</a>
            </span>
        </div>
    </div>
    <div class="poweredBy">
        <h3>TSI Aquidauana</h3>
    </div>
</div>