extends layout

block conteudo
    h2 Biografia
    p Meu Nome é Valkiria, tenho 25 anos um filho de 4 anos, Trabalho na Cordenadoria da Juventude de Aquidauana, uma extensão da assistência social da prefeitura da cidade. Pra complementar a minha renda, eu vendo langerrie, e faço salgados pra vender também. Gosto muito de ir pra fazenda onde a minha mãe mora, gosto também de passear com meu filho, nos finais de semana, tomar tereré com minhas amigas e cozinhar. E no momento estamos em quarentena, fazendo trabalhos e tarefas a distância, por conta dessa Pandemia do COVID-19(Corona Vírus).

    img(src="/img/asaffeeeu.jpg", alt="meu filho e eu")