extends layout

block conteudo

    #redes
        h2 meus contatos
        ul
             p  Redes sociais:
                li Facebbok (Valkiria Rodrigues)
                li Instagran (Valkiriarodriguees)
                li Hotmail (valkiriarodriguesoliveira@hotmail.com)
                li G-mail (valkiria.asaffe2410@gmail.com)