doctype html 

html
    head
    
        title Valkiria Rodrigues
    body  
        #banner
            h1 Valkiria Rodrigues
        
        conteudo
        block conteudo

        #rodape 
            h4 &copy;valkiria Rodrigues de Oliveira