extends layout

block conteudo
    h2 Portifólio

    p Um breve resumo de atividades ja realizadas por mim, no decorrer de um ano e meio de vida academica

    img(src="/img/juntasSomosMaisFortes.jpg", alt="um trabalho desenvolvido por meninas da TI")
    p Essa foto é a representação de um dia especial para nós meninas de TI, onde debatemos o Assédio, em todos os locais frequentados por nós.
    
    img(src="/img/oficina.jpg", alt="uma oficina realizada para criar apps")
    p Nessa oficina pensamos em app que poderiam facilitar nossas vidas no dia a dia.
    