@font-face{
    font-family: 'banner';
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face{
    font-family: 'texto';
    src: url(../fonts/DancingScript-Regular.ttf);
}

$fonte-banner: 'banner';
$fonte-texto: 'texto';